body{
    background-color: black;
    cursor: none;
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: white;
}
.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: no
}
.under-development{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.under-development span {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.under-development span:hover {
    color: white;
}