.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1010px 1010px 1010px 1010px;
}
#grid-row-1{
    overflow: hidden;
}
#grid-row-2{
    background-color: none;
    border: solid;
    border-color: white;
    border-width: 1px;
}
#grid-row-3{
    padding: 160px 175px 0px 175px;
    background-color: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.G3-Left{
    display: grid;
    grid-template-rows: 100px 1fr 100px 1fr;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}
.G3L-Heading{
    font-size: 45px;
    color: white;
    animation: fade-up 0.5s;
}
.about-head{
    padding-top: 10px;
    
}
.G3L-Bio{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 50px;
    opacity: 0;
    animation: opac-in 0.5s 0.5s forwards;
}
.stack-tag{
    display: inline;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(146, 154, 171,0.3);
    opacity: 0;
    animation: opac-in 0.5s 0.5s forwards;
}
.stack-tag:hover{
    background-color: white;
    color: rgb(146,154,171);

}
.memoji{
    margin-left: 200px;
    margin-top: 80px;
}
.memojinote{
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 270px;
}
.memojinote:hover + .memojihover{
    opacity: 1;
}
.memojihover{
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 90px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
#grid-row-4{
    display: grid;
    grid-template-rows: 1fr 250px;
    padding: 0px 175px 0px 175px;
    margin: 0px;
}
.CRline{
    align-self: flex-end;
    font-size: 15px;
    padding-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    padding: 30px 60px 10px 60px;
    color: white;
    font-size: 20px;
    /* border-top: solid; */
    animation: fade-up 0.8s;
}

.hello-text{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    animation: welcome-anime 0.5s;
}
.contact-mail{
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    margin: 200px 60px 20px 60px;
    border-color: rgba(112, 112, 112,0.2);
    border-width: 1px;
    background-image: url('../Assets/Background/workspace-bg-b70.png');
    background-size: cover;
    background-position: center;
}

.Background-image-cntct{
    height: 100%;
    object-fit: scale-down;
}

.mail{
    font-size: 50px;  
    opacity: 0;
    /* backdrop-filter: blur(10px); */
    text-shadow: rgb(255, 255, 255) 1px 0 5px;
    animation: opac-in 0.5s forwards;
}
.mail::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top: 6px;
    display: block;
    background: white;
    transition: 0.3s;
  }
.mail:hover::after{
    width: 100%;

}
