.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1010px 1010px 1010px 1010px;

}
#grid-row-1{
    overflow: hidden;

}

#grid-row-2{
    padding: 160px 175px 0px 175px;
    background-color: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.G2-Left{
    display: grid;
    grid-template-rows: 100px 1fr 100px 1fr;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}
.G2L-Heading{
    font-size: 45px;
    color: white;
    animation: fade-up 0.5s forwards;
}
.about-head{
    padding-top: 10px;
    
}
.G2L-Bio{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 50px;
    opacity: 0;
    animation: opac-in 0.5s 0.5s forwards;
}

.stack-tag{
    display: inline;
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: rgba(146, 154, 171,0.3);
    opacity: 0;
    animation: opac-in 0.5s 0.5s forwards;
    margin-bottom: 60px;
}
.stack-tag:hover{
    background-color: white;
    color: rgb(146,154,171);

}
.memoji{
    margin-left: 200px;
    margin-top: 80px;

    opacity: 0;
    animation: opac-in 0.5s 0.5s forwards;
    
}
.memojinote{
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 270px;
    opacity: 0;
    animation: opac-in 0.5s 0.5s forwards;
}
.memojinote:hover + .memojihover{
    opacity: 1;
}
.memojihover{
    color: white;
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 90px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

#grid-row-3{
    background-color: none;
    padding: 100px 175px 0px 175px;

    display: grid;
    grid-template-rows: 1fr 200px;
}
.G3-Heading{
    padding-top: 10px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 45px;
    color: white;
    animation: fade-up 0.5s;
}
.G3-topGrid{
    display: grid;
    grid-template-rows: 50px 1fr;
    
}
.project-box{
    height: 450px;
    width: 1200px;
    margin: 35px 20px 20px 20px;
    place-self: center;

    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 15px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 400px 1fr;

    opacity: 0;
    filter: blur(1.5rem);
    animation: opac-in 0.5s 0.5s forwards, blurin 0.5s 0.5s forwards;
    
}
.project-info{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

    border-right: solid 2px white;
    
}
.project-title{
    color: white;
    font-size: 38px;
    margin-bottom: 20px;
}
.project-shortDesc{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    font-weight:400;
    margin-bottom: 30px;
}
.project-visit{
    width: 130px;
    color: white;
    font-size: 25px;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 9px;
    padding: 10px 5px 10px 15px;
    margin-top: auto;
    transition: transform 0.2s;
    cursor: no-drop;
}
.project-visit:hover{
    transform: translateY(-6px);
}
.project-visit img{
    height: 20px;
    filter: invert(1);
    vertical-align: middle;
    padding: 0px;

}
.pv2{
    cursor: none;
    text-decoration: none;
    margin-top: -30px;
}
.project-image{
    background-image: url("../Assets/projects-thumbnail/portfolio-site.png");
    background-size: cover;
    background-position: center;

}
.project-image2{
    background-image: url("../Assets/projects-thumbnail/QRC/QRCGen-DarkMode.png");
    background-size: cover;
    background-position: center;

    transition: background-image 0.3s ease;

}
.G3-bottomGrid{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 170px;
    font-size: 20px;
}
#grid-row-4{
    display: grid;
    grid-template-rows: 1fr 250px;
    padding: 0px 175px 0px 175px;
    margin: 0px;
}
.CRline{
    align-self: flex-end;
    font-size: 15px;
    padding-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    padding: 30px 60px 10px 60px;
    color: white;
    font-size: 20px;
    /* border-top: solid; */
    animation: fade-up 0.8s;
}

.hello-text{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    animation: welcome-anime 0.5s;
}
.contact-mail{
    color: white;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    margin: 200px 60px 20px 60px;
    border-color: rgba(112, 112, 112,0.2);
    border-width: 1px;
    background-image: url('../Assets/Background/workspace-bg-b70.png');
    background-size: cover;
    background-position: center;
}

.Background-image-cntct{
    height: 100%;
    object-fit: scale-down;
}

.mail{
    font-size: 50px;  
    opacity: 0;
    /* backdrop-filter: blur(10px); */
    text-shadow: rgb(255, 255, 255) 1px 0 5px;
    animation: opac-in 0.5s forwards;
}
.mail::after{
    content: '';
    width: 0px;
    height: 2px;
    margin-top: 6px;
    display: block;
    background: white;
    transition: 0.3s;
  }
.mail:hover::after{
    width: 100%;

}
