body{
    background-color: black;
    cursor: none    ;
    height: 2000px;
}
body::-webkit-scrollbar{
    display: none;
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: white;
}
.cursor-dot,
.cursor-outline{

    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none
}

.header-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background : rgba(7, 7, 7 , 0.5);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    position: fixed;
    top: 415px;
    left: 25px;

}
.socials-sidebar{
    display: grid;
    row-gap: 30px;
}
.socials-sidebar a img{
    height: 22px;
    cursor: none;
}
.backgroud-shapes{
    z-index: 5;
}
.circle{
    position: absolute;
    height: 320px;
    opacity: 0.1;
    animation: fadein 1s ease-in;
}
.triangle{
    position: absolute;
    height: 240px;
    opacity: 0.1;
    animation: fadein 1s ease-in;
}
.square{
    position: absolute;
    height: 85px;
    opacity: 0.1;
    animation: fadein 1s ease-out;
}
.c1{
    top: 60px;
    left: -75px;
}
.c2{
    height: 500px;
    bottom: -200px;
    right: 400px    ;
}
.c3{
    height: 150px;
    top: 350px;
    right: 300px    ;
}
.t1{
    rotate: -30deg;
    top: 350px;
    left: 400px;
    transition: rotate 0.1s ease-out;
}
.t1:hover{
    rotate:-10deg;
}
.t2{
    rotate: 20deg;
    left: 1100px;
    transition: rotate 0.1s ease-out;
}
.t2:hover{
    rotate: 0deg;
}
.t3{
    rotate: 60deg;
    top: 500px;
    right: -100px;
    transition: rotate 0.1s ease-out;
}
.t3:hover{
    rotate:40deg;
}
.s1{
    top: 250px  ;
    left: 750px;
    rotate: 30deg   ;
    transition: rotate 0.1s ease-out;
}
.s1:hover{
    rotate: 10deg;
}
.s2{
    height: 60px;
    bottom: 290px  ;
    left: 1000px;
    rotate: -20deg   ;
    transition: rotate 0.1s ease-out;
}
.s2:hover{
    rotate: 0deg;
}
.under-development{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 875px;
    padding-left: 170px;
    padding-bottom: 200px;
}
.Welcome-text{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    transition: color 0.3s ease-in-out;
    margin-bottom: 25px;
}
.intro-text{
    width: 650px;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    line-height: 35px;
    color: white;
    display: block;
    transition: color 0.3s ease-in-out;

    margin-bottom: 20px;
}


.under-development span:hover {
    color: white;
}


@keyframes fadein {
    from{
        opacity: 0;
    }

    to{
        opacity: 0.1;
    }
    
}